<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand fs-4 ms-4"
      href="/"
      style="font-family: sans-serif; color: #1a5f7a"
      >RideAlong</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-underline text-color-primary ms-3">
        <li class="nav-item">
          <a class="nav-link link-primary fw-semibold" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-primary fw-semibold" href="/#features"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link link-primary fw-semibold" href="/rider"
            ><i class="bi bi-plus-circle"></i> Publish a ride</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
