<div class="d-grid gap-3 col-6 mx-auto p-3">
  <form action="/rides" method="get">
    <div class="col">
      <input
        type="text"
        class="form-control border-primary mb-4"
        placeholder="Leaving from..."
        name="source"
      />
    </div>

    <div class="col">
      <input
        type="text"
        class="form-control border-primary mb-4"
        placeholder="Going to..."
        name="dest"
      />
    </div>

    <div class="col text-start">
      <input class="btn btn-primary" type="submit" value="Search" />
    </div>
  </form>
</div>
