<!-- offering a rid -->
<br />

<div
  class="mt-5 pt-5"
  style="background-color: #adecfe; height: 90vh"
  id="create_ride"
>
  <div class="container text-center">
    <div class="row">
      <h1>
        Become a RideAlong driver and save on travel costs by sharing your ride
        with passengers.
      </h1>
      <p></p>
    </div>

    <div class="row align-items-center row-cols-1 row-cols-lg-2">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <form method="post" action="" id="new_ride">
              <input
                type="text"
                class="form-control border-primary mb-4"
                placeholder="Leaving from..."
                name="source"
              />

              <input
                type="text"
                class="form-control border-primary mb-4"
                placeholder="Going to..."
                name="dest"
              />

              <input
                type="text"
                class="form-control border-primary mb-4"
                placeholder="Enter Vehicle Registration No"
                name="vreg"
              />

              <select
                class="form-select border-primary mb-4"
                aria-label="Default select example"
                name="vtype"
              >
                <option selected>Vehicle Type</option>
                <option value="2wheeler">Two wheeler</option>
                <option value="4wheeler">Four wheeler</option>
              </select>

              <input
                class="btn btn-primary btn-lg"
                type="submit"
                value="Publish a ride"
              />
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <img src="images/offer2.svg" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") %>