<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container mt-5">
      <!-- <h1>Register</h1> -->
      <br />

      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <span>Rider Registration</span>
            <div class="card-body">
              <!-- Makes POST request to /register route -->
              <form action="" id="reg_rider" method="POST">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input type="text" class="form-control" name="name" id="name"/>
                </div>
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select class="form-select" aria-label="Default select example" name="gender" id="gender">
                    <option value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>

                </div>
                <div class="form-group">
                  <label for="mo">Your Phone Number?</label>
                  <input type="number" class="form-control" name="contact" id="mo" />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email"/>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="pass" />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/rider_login" class="btn btn-secondary"
                  >Already Registered</a
                >
              </form>
            </div>
          </div>
        </div>
        <%-include('partials/footer') %>
  </body>
</html>
