<html>

<head>
    <%- include('partials/header'); %>
</head>

<body>
    <div id="requests" class="m-5">
        <h2 class="text-center">Rider's Who are riding on Route</h2>
        <br />
        <div class="card w-75 mb-3 mx-auto">
            <div class="card-body">
                <h5 class="card-title">luffy</h5>
                <p class="card-text">
                    Ride with luffy from Gandhinagar to Vastral. 
                </p>
                <a href="#" class="btn btn-info">Ride Here</a>
            </div>
        </div>
        <!-- <div class="card w-75 mb-3 mx-auto">
            <div class="card-body">
                <h5 class="card-title">sid</h5>
                <p class="card-text">
                    wants to come with you from ahmedabad to baroda
                </p>
                <a href="#" class="btn btn-info">Ride Here</a>
            </div>
        </div> -->
        <br />
    </div>
    <br />
    </div>
</body>

</html>